// Bu faylda mobil görünüş üçün bütün komponentlərin stilləri dəyişdirilir
@import "./_mixin.scss";

.fIT {
    height: 70%;
    background-color: $purple-600;
    border-radius: 20px;
    
    @include mobile {
        height: 150px;
        display: flex;
        align-items: center;
        padding: 20px;
    }
    
    .fI {
        padding: 40px;
        
        @include mobile {
            padding: 0;
            display: flex;
            align-items: center;
            gap: 20px;
        }
        
        img {
            width: 20%;
            height: 20%;
            display: block;
            border-radius: 50%;
            border: 4px solid #fff;
            margin-bottom: 40px;
            
            @include mobile {
                width: 60px;
                height: 60px;
                margin-bottom: 0;
            }
        }
        
        h1 {
            color: #fff;
            font-weight: 300;
            font-size: 56px;
            
            @include mobile {
                font-size: 24px;
            }
        }
        
        h2 {
            color: $navy-200;
            
            @include mobile {
                display: none;
            }
        }
    }
}

.Fut {
    height: 30%;
    border-radius: 20px;
    
    @include mobile {
        height: auto;
    }
    
    .fU {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 40px;
        cursor: pointer;
        
        @include mobile {
            flex-direction: row; // Mobil versiyada yan-yana düzülür
            justify-content: space-between;
            padding: 20px 20px 0 20px;
        }
        
        h4 { 
            color: $navy-200;
            font-weight: 300;
            cursor: pointer;
            
            &:hover {
                color: #fff;
            }
        }
        
        .selected {
            color: #fff;
        }
    }
}

.work { background-color: $orange-300; }
.play { background-color: $blue-300; }
.study { background-color: $pink-400; }
.exercise { background-color: $green-400; }
.social { background-color: $purple-700; }
.scare { background-color: $yellow-300; }